.Todo-Card {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	margin-top: 10px;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
	border-radius: 6px;
	min-height: 60px;
	padding: 10px;
	width: 100%;
	transition: all 0.3s ease-in-out;

	&:hover {
		background-color: #f6f6f6;
	}

	&.-edit {
		background-color: #aaa;
	}

	> form {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: row;
		width: 100%;

		> input {
			flex: 1;
			border: 1px solid rgba(0, 0, 0, 0.5);
			border-radius: 6px;
			box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
			color: #333;
			transition: all 0.1s ease;
			height: 35px;
			padding: 5px;
			outline: none;

			&:hover {
				border-color: lighten(#333, 10%);
			}

			&:focus {
				border-color: #0ba8ff;
			}
		}
	}

	> p {
		margin-right: auto;
		white-space: pre-wrap;
	}

	> span,
	button {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		margin-left: 10px;
		margin-right: 2.5px;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		background-color: #333;
		border: 1px solid darken(#333, 10%);
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
		padding: 8px 10px;
		color: white;
		cursor: pointer;
		border-radius: 6px;
		transition: all 0.1s ease;

		&:hover {
			background-color: darken(#333, 10%);
			color: #0ba8ff;
		}
	}
}
