.Main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 40px;
	border-radius: 6px;
	width: 100%;
	max-width: 800px;

	> a {
		text-decoration: none;
		color: #fff;
		background-color: #333;
		border-radius: 3px;
		border: 1px solid #333;
		margin-top: 40px;
		transition: all 0.3s ease-in;
		padding: 5px 10px;
		font-size: 16px;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
		text-transform: uppercase;

		&:hover {
			background-color: lighten(#333, 10%);
		}
	}

	> .todo-form {
		margin-top: 10px;
		width: 100%;

		> input {
			width: 100%;
			padding: 15px;
			text-align: center;
			border: 1px solid #333;
			border-radius: 50px;
			box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.2);
			font-weight: bold;
			color: #333;
			transition: all 0.1s ease;
			outline: none;

			&:hover {
				border-color: lighten(#333, 30%);
			}

			&:focus {
				border: 1px solid #0ba8ff;
			}
		}
	}
}
