.Footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	margin-top: 10px;
	border-radius: 3px;
	min-height: 60px;
	padding: 10px;

	> div {
		font-weight: bold;

		> a {
			text-decoration: none;
			color: #fff;
			background-color: #333;
			border-radius: 50px;
			border: 1px solid #333;
			margin-top: 40px;
			transition: all 0.3s ease-in;
			padding: 8px 10px;
			font-size: 14px;
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
			text-transform: uppercase;
			font-weight: 400;

			&:hover {
				background-color: lighten(#333, 10%);
			}
		}
	}
}
