.Logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;

  > .letters {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
    position: relative;
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
    font-size: 40px;
    font-weight: bold;
    padding: 0 2.5px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 3px;
    line-height: 1;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

    > .L {
      color: #333;
    }

    > .J {
      color: #0ba8ff;
    }

    > .S {
      color: #0ba8ff;
    }
  }

  > h1 {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    > .Literal {
      color: #444;
      text-transform: uppercase;
      font-size: 24px;
    }

    > .JS {
      color: #0ba8ff;
      font-size: 24px;
      margin-left: 2.5px;
    }

    > .todo {
      color: #0ba8ff;
      text-transform: uppercase;
      font-size: 24px;
      background-color: #444;
      border-color: darken(#0ba8ff, 10%);
      padding: 5px;
      border-radius: 3px;
      margin-left: 5px;
    }
  }
}
